<div id="content">
  <div class="large-4 columns left">
    <ul id="sports" class="side-nav">
    </ul>
  </div>
  <div class="large-4 columns left">
    <ul id="events" class="side-nav">
    </ul>
  </div>
  <div class="large-4 columns left">
    <ul id="outcomes" class="side-nav">
    </ul>
  </div>
</div>

<script data-main='src/main' src='lib/require.js'></script>