<%= erb(:sport, layout: false, locals: { active: @sports.event.id }) %>
<div class="large-4 columns left">
  <ul class="side-nav">
    <% @sports.outcomes.each do |outcome| %>
      <li>Market: <%= outcome.market %>, <%= outcome.description %>: <%= outcome.price %></li>
    <% end %>
  </ul>
</div>
