<%= erb(:events, layout: false, locals: { active_id: event.id, sports: sports, sport: sport, events: events }) %>
<div class="large-4 columns left">
  <ul class="side-nav">
    <% outcomes.each do |outcome| %>
      <li>Market: <%= outcome.market %>, <%= outcome.description %>: <%= outcome.price %></li>
    <% end %>
  </ul>
</div>
