<div class="large-4 columns left">
  <ul class="side-nav">
    <% sports.each do |sport| %>
      <li class="<%= active_copy(sport, active_id) %>"><a href="/sports/<%=sport.id%>"><%= sport.title %></a></li>
    <% end %>
  </ul>
</div>
